.entity-form {
  &__add-button {
    background-color: var(--color-secondary-contrast);
    border-color: var(--color-secondary-contrast);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    &:hover {
      background-color: var(--color-secondary);
    }

    &:active {
      transform: translateY(0.1rem);
    }
  }
}
