@mixin entrance-animation($axis: "Y", $offset: -10px) {
  display: block;
  opacity: 1;
  &:active {
    transform: scale(0.9);
    transition: transform 0.05s ease-out;
  }
  // This correctly sets the property to 'transform'
  // and the value to 'translateY(0)' or 'translateX(0)'
  transform: translate#{$axis }(0);

  @starting-style {
    opacity: 0;
    transform: translate#{$axis }($offset);
  }
}
$__buttons-menu: ".buttons-menu";
$__buttons-menu-gap: 0.5rem;
#{$__buttons-menu} {
  &__add-button-group {
    z-index: 6;
    position: relative;

    #{$__buttons-menu}__add-buttons-sub {
      display: flex;
      flex-direction: column;
      gap: $__buttons-menu-gap;
      position: absolute;
      padding-top: $__buttons-menu-gap;
      top: 100%;
    }

    #{$__buttons-menu}__add-buttons-sub--1 {
      transform: translateY(-20px);
    }
    #{$__buttons-menu}__add-buttons-sub--2 {
      transform: translateX(-20px);
    }

    #{$__buttons-menu}__add-buttons-sub--1,
    #{$__buttons-menu}__add-buttons-sub--2 {
      display: none;
      opacity: 0;
      transition:
        opacity 0.4s ease,
        transform 0.4s ease,
        display 0.4s allow-discrete;
    }

    &:hover {
      #{$__buttons-menu}__add-buttons-sub--1 {
        @include entrance-animation("Y", -20px);
      }
      #{$__buttons-menu}__add-buttons-sub--2 {
        @include entrance-animation("X", -20px);
      }
    }
  }
  &__add-button {
    &#{&} {
      cursor: default;
      font-weight: bold;
      // TODO: reusable style in parent
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.7rem 1rem;
    }
    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
