@use 'variables' as *;

@mixin custom-select-arrow {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.4rem center;
  background-size: 1.4em;
  padding-right: 2rem;

  &:open {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2'%3E%3Cpolyline points='6 15 12 9 18 15'/%3E%3C/svg%3E");
  }
}

// RESPONSIVE METHODS
// responsive behaviour
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: $bp-phone) {
      @content;
    } //600px
  } @else if $breakpoint == tab-port {
    @media only screen and (max-width: $bp-tab-port) {
      @content;
    } //900px
  } @else if $breakpoint == tab-land {
    @media only screen and (max-width: $bp-tab-land) {
      @content;
    } //1200px
  } @else if $breakpoint == big-desktop {
    @media only screen and (min-width: $bp-big-desktop) {
      @content;
    } //1800px
  }
}