@property --color-primary {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(21, 23, 22);
}

@property --color-secondary {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(255, 154, 117);
}

@property --color-secondary-contrast {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(255, 127, 80);
}

@property --color-background {
  syntax: "<color>";
  inherits: true;
  initial-value: #e8e8e8;
}

@property --color-background-contrast {
  syntax: "<color>";
  inherits: true;
  initial-value: white;
}
