.entity {
  position: relative;
  min-width: 0.9rem;
  min-height: 0.9rem;
  border-radius: 0.2rem;
  border: 1px solid var(--color-primary);
  background-color: var(--color-background);
  width: fit-content;
  height: fit-content;
  transition:
    background-color 0.5s ease,
    width 0.5s ease,
    opacity 0.2s ease,
    height 0.5s ease;

  @starting-style {
    min-height: 0;
    height: 0;
    opacity: 0;
  }

  &--editing {
    background-color: var(--color-secondary);
  }

  &--selected {
    border-color: var(--color-background-contrast);
    border: 0.3rem dashed;
    background-size: 300% 300%;
    background-image: linear-gradient(
      135deg,
      var(--color-background),
      var(--color-secondary),
      var(--color-background)
    );
    animation: selected-bg 2s ease infinite;
  }
}

@keyframes selected-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
