.entity {
  position: relative;
  min-width: 0.9rem;
  min-height: 0.9rem;
  // max-width: 20rem;
  // width: calc-size(fit-content, size);
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--color-primary);
  background-color: var(--color-background);
  transition:
    background-color 0.5s ease,
    width 0.5s ease,
    opacity 0.2s ease,
    height 0.5s ease;

  @starting-style {
    min-height: 0;
    height: 0;
    opacity: 0;
  }

  // &--default {
  // }

  &--editing {
    background-color: var(--color-secondary);
  }
}
