.add-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 2;
    cursor: pointer;
    background-color: var(--color-background);
    transition: all 0.2s ease-in-out;
    &:hover, &:active {
        background-color: var(--color-secondary-contrast);
    }
}