.entity {
  &--with-padding {
    padding: 0 1rem 0 1rem;
  }
  &__title {
    color: var(--color-primary);
  }
  &__elements {
    display: block;
    border-top: 1px solid var(--color-primary);
  }
}
