.header {
  padding: 0 0 0 3rem;
  &__prefix {
    animation: toggling 1.5s ease-in-out infinite;
  }

  @keyframes toggling {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
