@use "@/assets/sass/abstracts/mixins" as *;
@use "@/assets/sass/abstracts/variables" as *;

.header {
  padding: 0 0 0 3rem;
  z-index: 1000;
  background-color: var(--color-background);
  font-size: 3.5rem;
  line-height: 1.3;
  @include respond(phone) {
    padding-left: 2.5rem;
    font-size: 2.5rem;
  }
  &__prefix {
    animation: toggling 1.5s ease-in-out infinite;
  }

  @keyframes toggling {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
