.entity-form {
  padding: 0.3rem 1rem 1rem 1rem;
  width: 20rem;
  opacity: 0;
  animation: textIn 200ms ease forwards;
  animation-delay: 100ms;

  &__identifier {
    font-size: 1.25rem;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
  }

  &__subtitle {
    padding: 0.5rem 0;
    font-size: 1.1rem;
    color: var(--color-primary);
    text-transform: capitalize;
  }

  &__methods-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__delete-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
  }
  &__delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // margin-left: 5rem;
    &:active {
      transform: scale(0.95);
      transition: transform 0.1s ease;
      border-color: transparent;
    } 
  }
}
