.entity-form {
  padding: 0.3rem 1rem 1rem 1rem;
  width: 17rem;
  opacity: 0;
  animation: textIn 200ms ease forwards;
  animation-delay: 100ms;

  &__identifier {
    font-size: 1rem;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
  }

  &__subtitle {
    padding: 0.5rem 0;  
    font-size: 1rem;
    color: var(--color-primary);
    text-transform: capitalize;
  }

  &__methods-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
