$_base-offset: 3.5;
.entity-form {
  &__relationship-selector {
    border: none;
    position: absolute;
    bottom: -1rem;
    padding: 0rem 0.2rem 0.2rem 0.2rem;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--color-secondary-contrast);
    border-radius: 50%;
    opacity: 1;
    transition: opacity .7s .5s;
    @starting-style {
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition:
        width 0s 0.15s,
        height 0s 0.15s;
    }

    &:hover::after {
      position: absolute;
      width: 2.5rem;
      height: 30rem;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition:
        width 0s,
        height 0s;
    }

    &:hover > .entity-form__relationship-menu {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__relationship-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  &__relationship-option {
    --option-offset: 0rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.2rem;
    height: 4.2rem;
    margin: -2.1rem;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-primary);
    font-size: 0.45rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    transform: translateY(var(--option-offset));
    transition:
      transform 0.25s ease,
      opacity 0.2s ease,
      background-color 0.15s ease;

    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }

    
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        @if ($i == 1) {
          --option-offset: #{$_base-offset}rem;
        } @else {
          --option-offset: #{($i - 1) * 4.5 + $_base-offset}rem;
        }
      }
    }

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  &__relationship-selector:hover &__relationship-option {
    opacity: 1;
    transform: translateY(var(--option-offset));
    z-index: 3;

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        transition-delay: #{($i - 1) * 0.1}s;
      }
    }
  }
}
