@use "@/assets/sass/abstracts/mixins" as *;

.app-container {
  --_app-padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  padding: var(--_app-padding);
  @include respond(phone) {
    padding: calc(var(--_app-padding) / 4);
  }

  &__border {
    position: absolute;
    inset: 0;
    background: var(--color-background);
    z-index: 1000;
    pointer-events: none;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% calc(100% - var(--_app-padding)),
      calc(100% - var(--_app-padding)) calc(100% - var(--_app-padding)),
      calc(100% - var(--_app-padding)) var(--_app-padding),
      var(--_app-padding) var(--_app-padding),
      var(--_app-padding) calc(100% - var(--_app-padding)),
      0% calc(100% - var(--_app-padding))
    );
  }
}
