@use "abstracts/mixins" as *;
@use "abstracts/variables" as *;
@use "abstracts/properties";

@use "reset.css";
@use "keyframes.css";

:root {
  transition:
    --color-primary 0.4s ease,
    --color-secondary 0.4s ease,
    --color-secondary-contrast 0.4s ease,
    --color-background 0.4s ease,
    --color-background-contrast 0.4s ease,
    --color-aux 0.4s ease;

  // really important for entity animations in chrome
  interpolate-size: allow-keywords;

  @include respond(tab-land) {
    --board-width-scale: 3.5;
  }
  @include respond(tab-port) {
    --board-width-scale: 4;
  }
  @include respond(phone) {
    --board-width-scale: 5;
  }
}

:root[data-theme="light"] {
  --color-primary: rgb(21, 23, 22);
  --color-secondary: rgb(255, 154, 117);
  --color-secondary-contrast: rgb(255, 127, 80);
  --color-background: #e8e8e8;
  --color-background-contrast: white;
  --color-aux: red;
}

:root[data-theme="dark"] {
  --color-primary: #e8e8e8;
  --color-secondary: rgb(20, 121, 20);
  --color-secondary-contrast: rgb(16, 104, 56);
  --color-background: rgb(21, 23, 22);
  --color-background-contrast: rgb(40, 42, 41);
  --color-aux: darkgreen;
}

#root,
html,
body {
  height: 100%;
  width: 100%;

  scrollbar-color:
    color-mix(in srgb, var(--color-background) 80%, var(--color-primary) 20%)
    var(--color-background-contrast);
}

html {
  font-size: 62.5%;
  font-family: system-ui, sans-serif;
  color: var(--color-primary);
  background-color: var(--color-background);
  ::selection {
    background-color: color-mix(
      in srgb,
      var(--color-secondary),
      transparent 30%
    );
  }
  ::-moz-selection {
    background-color: color-mix(
      in srgb,
      var(--color-secondary),
      transparent 30%
    );
  }
}

#root,
body {
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
}

strong {
  font-weight: 700;
}
